<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">  
<head>  
  <%= stylesheet_link_tag 'layout' %>
  <link rel="shortcut icon" href="../images/favicon.ico" />      
  <%= javascript_include_tag :all %>
</head>  
<body>  
  <div id="content">  
    <h1>No Twitter</h1>
    <img src="images/bird.png" alt="Passarinho Twitter" title="No Twitter" />
    <%= yield %>  
  </div>  
</body>  
</html>  
